@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="password"]::-webkit-reveal-password {
  display: none !important;
}

input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}

input[type="password"][autocomplete="current-password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}