@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="password"]::-webkit-reveal-password {
  display: none !important;
}

input[type="password"]::-webkit-contacts-auto-fill-button {
  display: none !important;
}

input[type="password"][autocomplete="current-password"]::-ms-reveal {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 7px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  height: 10px;
  width: 8px;
  display: block;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  min-height: 40px;
}
